html{
  font-size: 24px;
  background-color: lightgrey;
}

.newspaper{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  max-width:750px;
  background-color: beige;
  padding: 20px;
  border: 2px solid #cfb095;
  box-shadow: 3px 3px 5px 0 tan;
  margin: auto;
}

.name{
  font-size: 2rem;
  font-family: 'Times New Roman', serif;
  text-align: center;
}

.date{
  text-align: center;
}

.name, .author{
  text-transform: uppercase;
}

.headline{
  font-size: 2em;
  font-weight: bold;
  margin-top: 20px;
}

.sub-headline{
  font-weight: 100;
  font-size: 1.5em;
  font-style: italic;
  margin: 5px 0;
}

.author{
  font-weight: bold;
  margin: 20px 0;
}

.text{
  text-indent: 20px;
  line-height: 2em;
}

.text::first-letter{
  font-weight: bold;
  font-size: 2em;
}
