body{
  text-align:center;
background-color: #f4f4f4
}

.color-box{
  border-radius: 10px;
  width: 50px;
  height: 50px;
  margin:10px;
  display: inline-block;
  
}

.color1{
background-color: #f0f;
}
.color2{
background-color: rgb(255,127,0);
}
.color3{
  background-color: cyan;
}
.color4{
  background-color: hsl(150,50%,50%);
}
.color5{
  background-color: gold;
}