body{
  background-color: #689f38;
}

#playing-cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card{
  justify-content: space-between;
  background-color: white;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 5px 5px 20px 0 black;
  display: flex;
}

.left{
  display: flex;
  align-self: flex-start;
  font-size: 30px;
  padding: 5px;
  flex-direction: column;
}

.middle{
  display: flex;
  align-self: center;
  align-items: center;
  font-size: 40px;
  flex-direction: column;
}

.right{
  display: flex;
  align-self: flex-end;
  font-size: 30px;
  padding: 5px;
  flex-direction: column;
  transform: rotate(180deg);
}

.red{
  color: red;
}